.container{
  width : 50% !important;
}

h1{
  text-align: center;
  margin-bottom: 20px;;
}

.input-sec{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}


.input-sec button{
  padding: 10px 6px;
  width: 20%;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border: 2px solid #0dcaf0;
}

.input-sec{
  margin: 50px;
  padding: 0px;
}

input{
  width: 80%;
  padding: 10px 6px;
  
}
