input{
  width: 100%;
}

.todo-container{
  text-align: left;
  width: 45%;
  margin: 0 auto;
}

.kg-row{
  margin: 10px 5px;
}

.kg-button{
  min-width: 80px;
}

.list-container{
  text-align: left !important;
}

.list-container{
  color: red;
}
